{% extends "notes/base.html" %}
{% block content %}

    {% if user.is_authenticated %}
	<!-- Breadcomb area Start-->
	<div class="breadcomb-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="breadcomb-list">
						<div class="row">
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
								<div class="breadcomb-wp">
									<div class="breadcomb-icon">
										<i class="notika-icon notika-form"></i>
									</div>
									<div class="breadcomb-ctn">
										<h2>Listed House Details</h2>
										<p>This Panel shows <span class="bread-ntd">Details on the particular House</span></p>
									</div>
								</div>
							</div>
							<div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
								<div class="breadcomb-report">
									<button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn"><i class="notika-icon notika-sent"></i></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- Breadcomb area End-->


    <div class="typography-area">
        <div class="container">
           <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="tpgp-helper mg-t-30">
                        <div class="tpgp-hp-hd typography-mgn">
                            <h2 class="mn-hd-s"><i class="notika-icon notika-house"></i> {{object.house_name}}</h2>
                        </div>
                            <div class="tpgp-al-cl">
                            <blockquote>
                                <p><b>Physical Address:</b>Address 1:  {{object.house_address_one}}  &ensp; Address 2 : {{objecthouse_address_two}}  </p>
                                <p><b>Location:</b> {{object.location_id}}</p>
                                <p><b>Type of Accommodation:</b> {{object.house_type_of_accommodation}}</p>
                            </blockquote>
                            <blockquote class="blockquote-reverse m-b-25">

                                <footer>Added On  <cite title="Source Title">{{ object.date_added|date:"F d, Y" }}</cite></footer>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>

        </div>
            </div>
{% else %}
    <h2>You have been logged out</h2>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a href="{% url 'login' %}">Log In Again</a>
        </small>
    </div>
    {% endif %}
{% endblock content %}