{% extends "admission/base2.html" %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
            <div class="breadcome-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="breadcome-list single-page-breadcome">
                                <div class="row">
                                   <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="breadcome-heading">
                                      <h4>New Care Home</h4>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <ul class="breadcome-menu">
                                            <li><a href="#">Care Home</a> <span class="bread-slash">/</span>
                                            </li>
                                            <li><span class="bread-blod">New Addition</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


     <div class="mailbox-area mg-b-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-md-3 col-sm-3 col-xs-12">
                {% include "admission/admin_side_panel.html" %}
                    </div>







    <div class="col-md-9 col-md-9 col-sm-9 col-xs-12">


                    <div class="row">
                                    <div class="col-md-6 col-md-6 col-sm-6 col-xs-8">
                                        <div class="btn-group ib-btn-gp active-hook mail-btn-sd mg-b-15">
                                            <a href="{% url 'home-create'%}" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i> Refresh</a>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-md-6 col-sm-6 col-xs-4 mailbox-pagination">
                                        <div class="btn-group ib-btn-gp active-hook mail-btn-sd mg-b-15">
                                            <a href="{% url 'home-list'%}" class="btn btn-default btn-sm"><i class="fa fa-home"></i> Houses List </a>
                                        </div>
                                    </div>
                                </div>
        <div class="hpanel email-compose mailbox-view">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-payment-inner-st">
                                <div class="product-tab-list tab-pane fade active in" id="description">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="review-content-section">
                                                <div  class="pro-ad">

        <form method="POST">{% csrf_token %}
                {{ form.media }}
                {{ form|crispy }}
          <div class="row">
            <div class="col-lg-12">
               <div class="payment-adress">
                  <button type="submit" class="btn btn-primary waves-effect waves-light">Save</button>
                    <button type="cancel" class="btn btn-primary waves-effect waves-light">Cancel</button>
                     </div>
                        </div>
                      </div>
        </form>
                                                    </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>  </div>

{% else %}
    <h2>You have been logged out</h2>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a href="{% url 'login' %}">Log In Again</a>
        </small>
    </div>
    {% endif %}
{% endblock content %}


