{% load static %}


{% if user.is_authenticated %}
<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="inbox-left-sd">
						<div class="compose-ml">
                           <img src="{% static 'img/cropper/1.jpg'%}" alt="">
                        </div>
                        <hr>
                        <div class="inbox-status">
                            <ul class="inbox-st-nav inbox-ft">
                                <li><a href="{% url 'child-detail' object.id %}"><i class="notika-icon notika-mail"></i> Personal Details</a></li>
                                <li><a href="#"><i class="notika-icon notika-sent"></i> Contact Details</a></li>
                                <li><a href="#"><i class="notika-icon notika-draft"></i> Physical Description</a></li>
                                <li><a href="#"><i class="notika-icon notika-trash"></i> Health/Wellness</a></li>
                            </ul>
                        </div>

                        <hr>
                        <div class="inbox-status">
                            <ul class="inbox-st-nav">
                                <li><a href="#"><i class="notika-icon notika-travel"></i>  Pen Picture</a></li>
                                <li><a href="#"><i class="notika-icon notika-finance"></i> Child's Profile</a></li>
                                <li><a href="#"><i class="notika-icon notika-social"></i> Relationships</a></li>
                            </ul>
                        </div>
                        <hr>
                        <div class="inbox-status">
                            <ul class="inbox-st-nav inbox-nav-mg">
                                <li><a href="#"><i class="notika-icon notika-success"></i> Placement Details</a></li>
                                <li><a href="#"><i class="notika-icon notika-chat"></i> Agencies</a></li>
                                <li><a href="#"><i class="notika-icon notika-star"></i> IPA</a></li>
                                <li><a href="#"><i class="notika-icon notika-settings"></i> Checklist</a></li>
                                <li><a href="{% url 'notes-child' object.id %}"><i class="notika-icon notika-support"></i> Notes Report</a></li>
                            </ul>
                        </div>
                    </div>
                </div>





{% else %}
    <h2>You have been logged out</h2>
    <div class="border-top pt-3">
        <small class="text-muted">
            <a href="{% url 'login' %}">Log In Again</a>
        </small>
    </div>
    {% endif %}