{% extends "notes/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
	<!-- Breadcomb area Start-->
	<div class="breadcomb-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="breadcomb-list">
						<div class="row">
							<div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
								<div class="breadcomb-wp">
									<div class="breadcomb-icon">
										<i class="notika-icon notika-form"></i>
									</div>
									<div class="breadcomb-ctn">
										<h2>Add New Notes</h2>
										<i class="notika-icon notika-info"></i> Please write clear and professional notes, remembering that these can be shared with local authorities and other professionals</p>
									</div>
								</div>
							</div>
							<div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
								<div class="breadcomb-report">
									<button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn"><i class="notika-icon notika-sent"></i></button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Breadcomb area End-->


    <div class="form-example-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                    <div class="form-example-wrap">

        <form method="POST">{% csrf_token %}
            <div class="form-example-int mg-t-15">
            <div class="nk-int-st">
                <div class="form-group">
                {{ form.media }}
                {{ form|crispy }}
            </div>
                 </div>
                 </div>
              <div class="form-example-int mg-t-15">
                    <button type="submit" class="btn btn-primary notika-btn-success">Submit</button>
                    <button type="cancel" class="btn btn-primary notika-btn-success">Cancel</button>
               </div>
        </form>

                </div>
            </div>


        </div>
    </div></div>
    <!-- Form Examples area End-->

{% endblock content %}


