{% extends "users/user_navbar.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="login-content">
        <!-- Forgot Password -->
            <div class="nk-block toggled">
            <form method="POST" class="nk-form">
                {% csrf_token %}
                <img src="https://bluefrontcare.co.uk/uploads/34389-preview-full-bluefront-care-logo.png" class="image-clean-center" width="150px">
                <hr style="border: 1px solid #0064b9; border-radius: 5px;">
                <p class="text-center">Please enter your email to reset password</p>


                <div class="input-group">
                    <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-mail"></i></span>
                    <div class="nk-int-st">
                        {{ form.email|as_crispy_field }}
                    </div>
                </div>
 <button class="btn btn-login btn-success btn-float" type="submit"><i class="notika-icon notika-right-arrow right-arrow-ant"></i></button>
            </form>

            <div class="nk-navigation nk-lg-ic rg-ic-stl">
                <a href="{% url 'login' %}"data-ma-block="#l-login"><i class="notika-icon notika-right-arrow"></i> <span>Sign in</span></a>
                <a href="{% url 'register' %}" data-ma-block="#l-register"><i class="notika-icon notika-plus-symbol"></i> <span>Register</span></a>
            </div>
        </div>

    </div>

{% endblock content %}