{% extends "users/user_navbar.html" %}
{% block content %}
    <div class="login-content">

        <div class="nk-block toggled">
        <!-- Register -->
            <div class="nk-form">
                <img src="https://bluefrontcare.co.uk/uploads/34389-preview-full-bluefront-care-logo.png" class="image-clean-center" width="150px">
                <hr style="border: 1px solid #0064b9;">
            <p class="text-center"> If you do not have an account please contact the systems administrator for asssistance</p>
            </div>
            <div class="nk-navigation rg-ic-stl">
                <a href="{% url 'login' %}" data-ma-block="#l-login"><i class="notika-icon notika-right-arrow"></i> <span>Sign in</span></a>
                <a href="{% url 'password_reset' %}"  data-ma-block="#l-forget-password"><i>?</i> <span>Forgot Password</span></a>
            </div>
        </div>
    </div>
{% endblock content %}
